.menu-icon {
    width: 15px;
    height: 15px;
}

.p-no-margin p {
    margin-bottom: 0;
}

figure.table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    border: 1px double #b3b3b3;
}

figure.table th {
    font-weight: 700;
    background: hsla(0, 0%, 0%, 0.05);
    padding: .4em;
    border: 1px solid #bfbfbf;
    border-bottom: none;
}

figure.table td {
    border: 1px solid #bfbfbf;
    padding: .4em;
}

.p-no-margin blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: solid 5px hsl(0, 0%, 80%);
}

.p-no-margin[dir="rtl"] blockquote {
    border-left: 0;
    border-right: solid 5px hsl(0, 0%, 80%);
}

.image {
    display: table;
    clear: both;
    text-align: center;
    margin: 1rem 0;
    max-width: 100%;
}

.image img {
    max-width: 100%;
}

.image > figcaption {
    display: table-caption;
    caption-side: bottom;
    word-break: break-word;
    color: #333;
    background-color: #f7f7f7;
    padding: .6em;
    font-size: .75em;
    outline-offset: -1px;
}

.image-style-side {
    float: right;
    margin-left: 1rem;
}
